<h1>Failures</h1>
<ul>
  <% @failures.each do |f| %>
    <li>
      <h3>(#<%= f.id %>) <%= f.exception %>: <%= f.message %></h3>
      <p><%= f.created_at.strftime('%H:%M:%S %Z @ %m/%d/%Y') %></p>
    </li>
  <% end  %>
</ul>

<p><%= link_to "Simulate Failure", main_app.simulate_failure_path %></p>